<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Modifica Nave Cargo</title>
</head>
<body>
    <h1>Modifica nave con IMO {{nave.imo}}</h1>
    <br><br>
    <form method="POST" action="/cargo/modifica/{{nave.imo}}">
        {% csrf_token %}
        <br><br>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome" value="{{nave.nome}}" required>
            <br><br>
            <label for="nazionalita">Nazionalità: </label>
            <input type="text" name="nazionalita" id="nazionalita" value="{{nave.nazionalita}}" required>
            <br><br>
            <label for="compagnia">Compagnia: </label>
            <input type="text" name="compagnia" id="compagnia" value="{{nave.compagnia}}" required>
            <br><br>
            <label for="altezza">Altezza: </label>
            <input type="number" name="altezza" id="altezza" value="{{nave.altezza}}" required>
            <br><br>
            <label for="lunghezza">Lunghezza: </label>
            <input type="number" name="lunghezza" id="lunghezza" value="{{nave.lunghezza}}" required>
            <br><br>
            <label for="larghezza">Larghezza: </label>
            <input type="number" name="larghezza" id="larghezza" value="{{nave.larghezza}}" required>
            <br><br>
            <label for="peso_massimo">Peso Massimo: </label>
            <input type="number" name="peso_massimo" id="peso_massimo" value="{{nave.peso_massimo}}" required>
            <br><br>
            <label for="capacita">Capacità: </label>
            <input type="number" name="capacita" id="capacita" value="{{nave.capacita}}" required>
            <br><br>
            <button type="submit">Modifica</button> <button type="reset">Reset</button>
    </form>
    <br><br>
    {% if error %}
    Errore: {{ error }}
    {% endif %}
</body>
</html>