<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Aggiunta Dati</title>
</head>
<body>
    <h1>Aggiunta Dati</h1>
    <form method="POST" action="/cliente/aggiungi">
        {% csrf_token %}
        <br><br>
        <label for="codice_fiscale">Codice Fiscale: </label>
        <input type="text" name="codice_fiscale" id="codice_fiscale" required>
        <br><br>
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" required>
        <br><br>
        <label for="cognome">Cognome: </label>
        <input type="text" name="cognome" id="cognome" required>
        <br><br>
        <label for="data_nascita">Data Nascita: </label>
        <input type="date" name="data_nascita" id="data_nascita" required>
        <br><br>
        <label for="telefono">Telefono: </label>
        <input type="text" name="telefono" id="telefono">
        <br><br>
        <button type="submit">Aggiungi</button> <button type="reset">Reset</button>
        <br><br>
        {% if error %}
        Errore: {{ error }}
        {% endif %}
    </form>
</body>
</html>