<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Modifica Container</title>
</head>
<body>
    <h1>Modifica container con ID {{container.id}}</h1>
    <br><br>
    {% if error %}
        <p>Errore: {{ error }}</p>
        <br><br>
    {% endif %}
    <form method="POST" action="/cargo/container/modifica/{{container.id}}">
        {% csrf_token %}
        <label for="dimensione">Dimensione: </label>
        <input type="number" name="dimensione" id="dimensione" value="{{container.dimensione}}" required>
        <br><br>
        <label for="marchio">Marchio: </label>
        <input type="text" name="marchio" id="marchio" value="{{container.marchio}}" required>
        <br><br>
        <label for="imo">IMO Nave: </label>
        <select name="imo" id="imo">
            {% for n in navi %}
                <option value="{{n.imo}}"{% if n.imo == container.imo_id %}selected{% endif %}>{{n.imo}}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Modifica</button> <button type="reset">Reset</button>
    </form>
    <a href="/cargo/container/{{imo}}"><button>Annulla</button></a>
</body>
</html>