<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Aggiunta Container</title>
</head>
<body>
    <h1>Aggiunta container su nave {{imo}}</h1>
    <br><br>
    {% if error %}
        <p>Errore: {{ error }}</p>
        <br><br>
    {% endif %}
    <form method="POST" action="/cargo/container/aggiungi/{{imo}}">
        {% csrf_token %}
        <label for="id">ID: </label>
        <input type="text" name="id" id="id" required>
        <br><br>
        <label for="dimensione">Dimensione: </label>
        <input type="number" name="dimensione" id="dimensione" required>
        <br><br>
        <label for="marchio">Marchio: </label>
        <input type="text" name="marchio" id="marchio" required>
        <br><br>
        <button type="submit">Aggiungi</button> <button type="reset">Reset</button>
    </form>
</body>
</html>