<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Gestione Magazzino</title>
</head>
<body>
<h1> Benvenuto/a nell'area gestione magazzino, {{request.user.username}} </h1>
    <br><br>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        <br><br>
    {% endif %}
    <a href="/magazzino/aggiungi"><button>Aggiungi Magazzino</button></a>
    <br><br>
    {% if magazzini %}
    <table>
        <tr>
            <th>Nome</th>
            <th>Località</th>
            <th>Tipo</th>
            <th>Capacita</th>
            <th>Azioni</th>
        </tr>
        {% for magazzino in magazzini%}
        <tr>
            <td>{{magazzino.nome}}</td>
            <td>{{magazzino.localita}}</td>
            <td>{{magazzino.tipo}}</td>
            <td>{{magazzino.capacita}}</td>
            <td><a href="/magazzino/modifica/{{magazzino.nome}}/{{magazzino.localita}}">Modifica</a> |
                <a href="/magazzino/elimina/{{magazzino.nome}}/{{magazzino.localita}}">Elimina</a> |
                <a href="/magazzino/stoccaggio/{{magazzino.nome}}/{{magazzino.localita}}">Visualizza Merce</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <a href="/logout"><button>Logout</button></a>
</body>
</html>